<?xml version="1.0"?>
<config>
    <modules>
        <Midin_Customer>
            <version>1.0.0</version>
        </Midin_Customer>
    </modules>
    <global>
        <helpers>
            <midin_customer>
                <class>Midin_Customer_Helper</class>
            </midin_customer>
        </helpers>
        <resources>
            <midin_customer_setup>
                <setup>
                    <module>Midin_Customer</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </midin_customer_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <midin_customer>
                    <file>midin_customer.xml</file>
                </midin_customer>
            </updates>
        </layout>
        <translate>
            <modules>
                <Midin_Customer>
                    <files>
                        <default>Midin_Customer.csv</default>
                    </files>
                </Midin_Customer>
            </modules>
        </translate>
    </frontend>
</config>