<?xml version="1.0"?>
<config>
    <modules>
        <Icube_Cancellationreasons>
            <version>0.1.4</version>
        </Icube_Cancellationreasons>
    </modules>
    <admin>
    	<routers>
    		<adminhtml>
    			<args>
    				<modules>
    					<cancellationreasons before="Mage_Adminhtml">Icube_Cancellationreasons_Adminhtml</cancellationreasons>
    				</modules>
    			</args>
    		</adminhtml>
    	</routers>
    </admin>
    <adminhtml>
	    <layout>
	        <updates>
	            <cancellationreasons>
	                <file>icube/cancellationreasons.xml</file>
	            </cancellationreasons>
	        </updates>
	    </layout>
    </adminhtml>
    <global>
        
        <models>
            <cancellationreasons>
                <class>Icube_Cancellationreasons_Model</class>
                <resourceModel>cancellationreasons_mysql4</resourceModel>
            </cancellationreasons>
            <cancellationreasons_mysql4>
                <class>Icube_Cancellationreasons_Model_Mysql4</class>
                <entities>
                    <cancellationreasons>
                        <table>icube_cancellation_reasons</table>
                    </cancellationreasons>
                </entities>
                <entities>
                	<list>
                		<table>icube_cancellation_reasons_list</table>
                	</list>
                </entities>
            </cancellationreasons_mysql4>
        </models>

        <resources>
            <icube_cancellationreasons_setup>
                <setup>
                    <module>Icube_Cancellationreasons</module>
                </setup>
            </icube_cancellationreasons_setup>
            <icube_cancellationreasons_write>
		        <connection>
		          <use>core_write</use>
		        </connection>
	      	</icube_cancellationreasons_write>
		    <icube_cancellationreasons_read>
		        <connection>
		          <use>core_read</use>
		        </connection>
		    </icube_cancellationreasons_read>
        </resources>
        <blocks>
            <icube_cancellationreasons>
                <class>Icube_Cancellationreasons_Block</class>
            </icube_cancellationreasons>
            <adminhtml>
            	<rewrite>
            		<sales_order_grid>Icube_Cancellationreasons_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
            		<sales_order_view>Icube_Cancellationreasons_Block_Adminhtml_Sales_Order_View</sales_order_view>
            	</rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <icube_cancellationreasons>
                <class>Icube_Cancellationreasons_Helper</class>
            </icube_cancellationreasons>
        </helpers>

    </global>
</config>
