<?xml version="1.0"?>
<config>
  <modules>
    <Veritrans_Indomaret>
      <version>0.1.0</version>
    </Veritrans_Indomaret>
  </modules>
  <global>
    <models>
      <indomaret>
        <class>Veritrans_Indomaret_Model</class>
      </indomaret>
    </models>
    <helpers>
      <indomaret>
        <class>Veritrans_Indomaret_Helper</class>
      </indomaret>
    </helpers>
    <blocks>
      <indomaret>
        <class>Veritrans_Indomaret_Block</class>
      </indomaret>
    </blocks>
    <adminhtml>
      <layout>
        <updates>
          <indomaret>
            <file>veritrans.xml</file>
          </indomaret>
        </updates>
      </layout>
    </adminhtml>
  </global>
  <default>
    <payment>
      <indomaret>
        <model>indomaret/standard</model>
        <active>0</active>
        <title>Indomaret Convinience Store</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
        <conversion_rate>10000</conversion_rate>
        <environment>sandbox</environment>
      </indomaret>
    </payment>
  </default>
  <frontend>
    <routers>
      <indomaret>
        <use>standard</use>
        <args>
          <module>Veritrans_Indomaret</module>
          <frontName>indomaret</frontName>
        </args>
      </indomaret>
    </routers>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <veritrans_indomaret>
          <file>veritrans.xml</file>
        </veritrans_indomaret>
      </updates>
    </layout>
    <events>
      <adminhtml_sales_order_create_save_indomaret>
        <observers>
          <indomaret_save_order>
            <type>singleton</type>
            <class>indomaret/observer</class>
            <method>save_order</method>
          </indomaret_save_order>
        </observers>
      </adminhtml_sales_order_create_save_indomaret>
    </events>
  </adminhtml>
</config>
